<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to @salon.name, root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#header">Inicio</a></li>
        <li><a href="#team">Equipe</a></li>
        <li><a href="#works">Trabalhos</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>


<header id="header">
  <%= image_tag "#{@salon.background}", class: "header-background" %>
  <h1><%= @salon.header %></h1>
</header>

<div id="team" class="container">
  <h2><b>Nossa Equipe!</b></h2><br>
  <h4>Altamente capacitados para atender aos seus pedidos!</h4>

  <div class="row team">
    <% @workers.each do |w| %>
      <div class="col-xs-12 col-md-3 worker">
        <%= image_tag w.avatar, class: 'avatar' %>
        <h3><%= w.name %></h3>
        <h5><%= w.function %></h5>

        <div class="worker-socials">
          <p>
            <i class="fa fa-facebook" aria-hidden="true" style="font-size: 2em; color: #2980b9;"></i>
            <%= link_to w.name, w.facebook, target: '_blank' unless w.facebook.empty? %>
          </p>

          <p>
            <% unless w.whatsapp.empty? %>
              <i class="fa fa-whatsapp" aria-hidden="true" style="font-size: 2em; color: #27ae60"></i>
            <% end %>
            <span> <%= w.whatsapp %></span>
          <p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="works" class="container">
  <h2><b>Trabalhos Recentes</b></h2><br>
  <h4>A satisfação do negócio é ver o cliente satisfeito ;)</h4>

  <div class="row works">
    <% @works.last(5).each do |w| %>
      <div class="col-xs-12 col-md-3 work">
        <%= image_tag w.image, class: 'avatar' %>
        <div class="work-description">
          <h3><%= w.client %></h3>
          <h5><%= w.description %></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="contact" class="container">
  <h2><b>Contato</b></h2><br>
  <h4><%= "#{@salon.street}, #{@salon.district}, #{@salon.city}" %></h4>

  <% @socials.each do |s| %>
    <%= link_to s.link, class: 'social' do %>
      <i class="fa fa-<%= s.name %>" aria-hidden="true" style="font-size: 2em; color: #2c3e50; margin: 20px;"></i>
    <% end %>
  <% end %>
</div>
